.galery {
	display: flex;
}
.column {
	width: calc(100% / 5);
}
.column_1,
.column_2,
.column_3 {
	display: flex;
	flex-direction: column;
}

.column img {
	position: relative;
	display: block;
	z-index: 1;
	filter: brightness(70%);
	transition: 0.4s;
}

.column img:hover {
	filter: brightness(100%);
}

@media screen and (max-width: 960px) {
	.column{
		width: calc(100% / 3);
	}
	.column_3{
		display: none;
	}

}