.container-counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(3.5rem , 6vw , 8rem);
    width: 100%;
    background-color: rgba(255, 187, 51, 1);
    color: #303030;
    font-size: clamp(40%, 4.5VW, 150%);
}

.countdown-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    background-color: #3C1738;
}

.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: clamp(0.2rem, 5vw, 1.5rem) ;
    
}

.counter > p{
    color: #ECECEC;
    font-size: clamp(60%, 8VW, 250%);
}

.counter > span{
    font-size: 15px;
    font-weight: bold;
    color: #FFBB33;
    margin: 0;
}